[submodule "Atom/Vendor/spdlog"]
	path = Atom/Vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Atom/Vendor/Imgui"]
	path = Atom/Vendor/Imgui
	url = https://github.com/biigHandsomeGuy/imgui.git
[submodule "Atom/Vendor/assimp"]
	path = Atom/Vendor/assimp
	url = https://github.com/biigHandsomeGuy/assimp.git
