[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Dependencies/ImGuizmo"]
	path = Dependencies/ImGuizmo
	url = https://github.com/biigHandsomeGuy/ImGuizmo.git
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/biigHandsomeGuy/tinyobjloader.git

[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/biigHandsomeGuy/imgui.git
	branch = docking
